body {
    background-color: rgb(53, 50, 50);
}

#container {
    width: 650px;
    height: 650px;
    margin: 0 auto;
    padding: 0;
    position: relative;
    background-color: rgb(53, 50, 50);
    background-image: url('../Mirage.png');
    background-size: 100%;
}

#container button {
    top: 0px;
}

.player {
    width: 50px;
    height: 50px;
    bottom: 0px;
    left: 0px;
    position: absolute;
}

.player1 {
    background: url('../Player_1.png') no-repeat;
}

.player2 {
    background: url('../Player_2.png') no-repeat;
}

#overlay {
    display: block;
    width: inherit;
    height: inherit;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 99;
    cursor: pointer;
    border-radius: 10%;
}

#play-icon {
    display: block;
    margin: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
