<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="./css/style.css">
<head>
    <script src="{{ url_for('static', filename="js/script.js")}}"></script>
</head>
<body>

<p><button onclick="myMove()">Click Me</button></p>

<div id ="container">
    <div class="player player1"></div>
    <div class="player player1"></div>
    <div class="player player1"></div>
    <div class="player player1"></div>
    <div class="player player1"></div>
    <div class="player player2"></div>
    <div class="player player2"></div>
    <div class="player player2"></div>
    <div class="player player2"></div>
    <div class="player player2"></div>
</div>

</body>
</html>

